
/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Castoro+Titling&family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Castoro+Titling&family=Playfair+Display&display=swap');
       ::-webkit-scrollbar{
            display: none;
        }
body{
    /* font-family: 'Acme', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* font-family: 'Playfair Display', serif; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100% auto;
    overflow-x: hidden;
    
}
.navBar{
    padding:1.5rem;
    background-color: #a2926b;
}
.bg{
    background-color: #f3edde;
}

.nav-link:hover{
    color:#f3edde;
}
body>*{
    grid-column: 1 / -1;
    
}
h1{
    margin: 2rem;
    text-align: center;
    color: black;
}
.card-text{
    color: #000;
}
h2{
    /* color:#fff3cd; */
    color: black;
    margin: 2rem;
}
.lead{
    background: #a2926b;
    opacity: 90%;
    border-radius: 0.5em;
    
}
.ButCon{
    padding: 8px;
    margin: 1rem;
}
p{
font-size: 1rem;
color:#f3edde;
/* color: black; */
}
.footer{
    color: black;
    background:#a2926b;
    text-align: center;
    padding:1.5rem;
}
.btnSeeMore{ 
    margin: 1rem;
}
.buttonA{ 
    margin: 2rem;
}
.homepage{
    background-color:#efdaa0;
    /* background-image: url('https://i.postimg.cc/vZjJ7TnN/22-SS-Social-TS-Football-Q3-Fastest-Pack-Future-Neymar-0247-16x9.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 75%;  */
    /* background: url('https://i.postimg.cc/vZjJ7TnN/22-SS-Social-TS-Football-Q3-Fastest-Pack-Future-Neymar-0247-16x9.webp') no-repeat center center;
    width: 100%;
    height: 100vh;*/
}
.btn{ 
    background-color:#a2926b;
    color: black;
    outline: #000;
}
.cards{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    margin-top: 1rem;
}

th{
    border: 1px solid black;
}

tr,th{
    padding: 3px;
}

button{
    font-size: 1rem;
    padding: 0.3rem;
}
 .outside{ 
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #fbf3ce;
}
#buttonE{
    background-color:#a2926b;
    border-radius: 0.5em;
}
#buttonD{ 
    background-color: #a2926b;
    border-radius: 0.5em;
    

}
.about{
    color: #000;
}
.middlePic{ 
    width:25rem;
    height:35rem;

}
.about{
    text-align: center;
}

/* #buttonD:hover{

    background-color: #080808;
    color:#a2926b;
    transition: ease-in-out 0.3s;

} */

/* .card-body{ 
    display: grid;
    grid-template-columns: ;
} */
/* .cardImg {
   height: 18rem; 
   background-size: cover;
}
.card{ */
    /* margin-top: 4rem; */
/* }

.cardimg{
    margin-top: 7rem;
}
.cardnike{
    margin-top:rem;
}
.cardNB{
    margin-top: 10.5rem;
}
.cardAdi{ 
    margin-top: 8.9rem;
}
.cardUA{ 
    margin-bottom: 2rem;
}
.nikePh{
    margin-bottom:1rem;
}
.cardNike{ 
    margin-top: 7rem;
}
.cardPu{ 
    margin-top: 1.5rem;
} */


.featPic{
    height: 200px;
    width: 100%;
    object-fit: contain;
    transition: all .2s ease-in-out; 
}
.featPic:hover{
    transform: scale(1.3);

}
.mod{
    background-color:#efdaa0;
}
.conMe{ 
    background:#efdaa0
}
.carsprod {
     height: 400px;
    width: 100%;
    object-fit: contain;
    padding: 0;
}

.image{
    width: 100%;
    height: 210px;
    transition: all .2s ease-in-out; 
    /* border: 2px solid red; */
}
.image:hover{
    transform: scale(1.3);
}


.image img{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}

.card-price{
    color: rgba(0, 0, 0, 0.582);
}
.card-price:hover{
    color: rgb(0, 0, 0);
}

/* .cardS { */
    /* display: grid; */
    /* column-gap: 3rem; */
    /* justify-content: center; */
    /* align-items: center; */

    /* flex-direction: column; */
    /* flex-direction: row; */
    /* padding: 5rem; */
    /* grid-template-rows: max-content; */
/* } */

#cardZ{ 
    /* aspect-ratio: 1/2; */
    object-fit:contain;

}