
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Castoro+Titling&family=Playfair+Display&display=swap');
       ::-webkit-scrollbar{
            display: none;
        }
body{
    font-family: 'Acme', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100% auto;
    overflow-x: hidden;
    
}
.navBar{
    padding:1.5rem;
}

.nav-link:hover{
    color:#fff3cd;
}
body>*{
    grid-column: 1 / -1;
}
h1{
    margin: 2rem;
    text-align: center;
    color: black;
}
.card-text{
    color: #000;
}
h2{
    /* color:#fff3cd; */
    color: black;
    margin: 2rem;
}
.lead{
    background: #000;
    opacity: 80%;
}
p{
font-size: 1rem;
color: #fff3cd;
/* color: black; */
}
.footer{
    color: black;
    background:#fff3cd;
    text-align: center;
    padding:1.5rem;
}
.btnSeeMore{ 
    margin: 1rem;
}
.buttonA{ 
    margin: 2rem;
    outline-color: #000;
}
.homepage{
    background-image: url('https://i.postimg.cc/vZjJ7TnN/22-SS-Social-TS-Football-Q3-Fastest-Pack-Future-Neymar-0247-16x9.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 80%;
    /* background: url('https://i.postimg.cc/vZjJ7TnN/22-SS-Social-TS-Football-Q3-Fastest-Pack-Future-Neymar-0247-16x9.webp') no-repeat center center;
    background-size: cover; 
    background-image: linear-gradient(180deg, #df27a8, #cf0cc8, #f50a4c, #e96806, #aeff00);
    width: 100%;
    height: 100vh;*/
}
.btn{ 
    background-color: #fff3cd;
    color: black;
    outline: #000;
}
.cards{
    text-align: center;
}
.btnSeeMore{ 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    margin-top: 1rem;
}

th{
    border: 1px solid black;
}

tr,th{
    padding: 3px;
}

button{
    font-size: 1rem;
    padding: 0.3rem;
}
 .outside{ 
    justify-content: center;
    display: flex;
    align-items: center;
}
#buttonE{
    background-color: #fff3cd;
}
#buttonD{ 
    background-color: #fff3cd;
}
.about{
    color: #000;
}